* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* For iOS */
  -tap-highlight-color: transparent;
  /* For Android */
  box-sizing: border-box;
  outline: none;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body_back);
  color: var(--body_color);
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  max-width: 100%;
}