<!DOCTYPE html>
<html>
<head>
  <title>Nwigiri Joshua port-folio</title>
    <%- include('partials/head') %>
  <link rel="stylesheet" href="/assets/css-files/blog.css">
</head>
<body>
      <%- include('partials/nav_dropdown') %>

  <!--<header class="about blog"><i style='font-size:24px' class='fas'>&#xf5ac;</i>Blog</header>-->

  <main>
    <div class="pic-and-intro">

      <div class="pic">
        <div class="picture">
          <img src="/assets/images/image-2.png.jpg" alt="image of nwigiri from 2024"> 
        </div>
      </div>
      <h3>Hi👋, I am Joshua, <br> a Software <br> Engineer.</h3> <br>

      <p>
        specifically for generating Lorem Ipsum text like in some other text editors. However, you can achieve this functionality by usinge
      </p>

      <button id="Contact" type="button">
        <a href="#">GET MY CV </a><i class="material-icons"style="color:rgb(197, 193, 193);">&#xe2c4;</i>
      </button>

    </div>
    <section id="blog-posts">

    </section>
  </main>

  <script src="/assets/js-files/index.js"></script>
  <script src="/assets/js-files/blog.js"></script>
</body>
</html>