<!--nav bar and dropdown-->
<div class="navbar">
  <div class="initial">
    <img src="/assets/images/image-2.png.jpg"
    alt="image of nwigiri from 2024">
  </div>

  <!--<div class="theme">
      <i style="font-size:24px" class="fa">&#xf186;</i>
    </div>-->

  <!--buger icon and dropdown-->
  <div class="dropdown" id="burger-container" onclick="toggleDropdown()">
    <div id="burger">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
    </div>

    <div class="dropdown-content">
      <a href="/" onclick="closeDropdown()">-Home-</a>
      <a href="/blog" onclick="closeDropdown()">-Blog-</a>
      <a href="/resume" onclick="closeDropdown()">-Resume-</a>
      <a href="#contact-me" onclick="closeDropdown()">-Contact-</a>
    </div>
  </div>
</div>