* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /* For iOS */
    tap-highlight-color: transparent;
    /* For Android */
    box-sizing: border-box;
}
.btn-and-img img {
    display: none;
    position: absolute;
    height: 300px;
    width: auto;
    bottom: 0;
    margin: 0;
    padding: 0;
    right: 0;
    float: right;
}
body {
    background-color: rgb(74, 68, 87);
    color: rgb(197, 193, 193);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    max-width: 100%;
}
a {
    color: rgb(197, 193, 193);
}

/*section 1*/
.section-1-overall {
    max-width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #262626;
    padding: 10px;
}

.section-1 {
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;

}
.alias {
    font-size: 1.8em;
    mouse: pointer;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    width: 100%;
    align-items: center;
    position: relative;
}
.alias hr {
    width: 0;
    height: 2px;
    top: 10px;
    transition: width 2s ease-in;
    background-color: goldenrod;
}
.alias:hover hr {
    width: 1.8em;
    border: none;
    border-radius: 2px;
}
.period {
    color: gold;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.name-and-handle {
    text-align: left;
    font-size: larger;
}

.name-and-handle h1 {
    margin-bottom: 1.2em;
    top: 2em;
    position: absolute;
}
/*.back-name{
    position: absolute;
}*/
.name-and-handle h1:first-of-type {
    transform: rotateY(90deg);
}
.name-and-handle:hover h1:first-of-type {
    animation: rotate 0.4s 0.4s ease-in forwards reverse;
    background-color: #262626;
}
.name-and-handle:hover .back-name {
    animation: rotate 0.4s ease-out forwards;
}
@keyframes rotate {
    0% {
        transform: rotateY(0deg)
    }
    100% {
        transform: rotateY(90deg)
    }
}

.name-and-handle hr {
    width: 30%;
    background-color: goldenrod;
    height: 2px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.links {
    margin-top: 5em;
    margin-bottom: 1.5em;
    position: relative;
}
button {
    width: 35%;
    height: 3em;
    font-weight: 900;
    background: none;
    border: 2px solid goldenrod;
    border-radius: 4px;
}
.btn-and-image {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button a {
    color: goldenrod;
}

/*section 2*/
.section-2-overall {
    background-color: rgb(74, 68, 87);
    padding: 20px;
    top: 0;
    text-align: center;
    font-weight: bold;
}
h5 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: goldenrod;
}
.section-2 h1 {
    margin-bottom: 5px;
}
.section-2 p {
    line-height: 25px;
}

/*first card (web development )*/
.web-dev-icon {
    background-color: rgb(30, 34, 53);
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;

}
.web-dev {
    margin: auto;
}
.section-2 .material-icons {
    font-size: 80px;
}

/*second card (mobile app )*/
.mobile-app-icon {
    background-color: rgb(30, 34, 53);
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;

}
.mobile-app {
    margin: auto;
}
.section-3 {
    margin: 50px auto;
    position: relative;
}
.section-3 hr{
    width: 13em;
    background-color: goldenrod;
    height: 3px;
    border: none ;
    border-radius: 5px;
    margin: auto;
}
.section-3 h1{
    font-size: 25px;
}
.section-3 .fa,
.section-3 .fab {
    font-size: 110px;
    margin-top: 60px;
}
.section-3 span {
    display: inline-block;
    width: 40%;
}
.section-3 p {
    display: block;
    text-align: center;
    margin-top: 8px;
}
/*.section-3:active p{
    display: block;
}*/
.tools-logo{
    transition: transform 0.5s ease;
    cursor: pointer;
}
.zoomed{
    transform: scale(1.5);
}
footer {
    background-color: rgb(30, 34, 53);
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 30px;
}
footer h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
footer button {
    background-color: goldenrod;
    color: black;
    margin: auto;
    margin-bottom: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.social-acc {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}
.social-acc a i {
    font-size: 20px;
}
footer h6 {
    margin-bottom: 5px;
    text-align: right;
}
form label {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.message {
    margin-top: 35px;
    margin-left: 45px;
}
#name, #email {
    height: 40px;
    border-radius: 10px;
    border: none;
    /*margin: 20px;*/
    margin-bottom: 20px;
    width: 70%;
}
form input {
    padding: 10px;
    /*padding-top: 15px;*/
}

textarea {
    border-radius: 10px;
    width: 70%;
    margin: 25px;
}
#submit {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
    background-color: goldenrod;
    border: none;
    float: left;
    margin-left: 15%;
}
/*span:last-of-type*/
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
span .fas {
    margin-bottom: 30px;
    margin-right: 5px;
}

.dropdown-options {
    display: none;
}
.dropdown-options.show {
    position: absolute;
    display: block;
    background-color: #232139;
    width: 100%;
    margin-top: 3em;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    animation: drop 1.5s ease-out;
    z-index: 10;
}
@keyframes drop {
    from {
        height: 0px;
    }
    to {
        height: 120px;
    }
}
.dropdown-option {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

}
.nav-bar .material-icons {
    border: 1px solid white;
    padding: 2px;
    border-radius: 8px;
    font-size: 30px;
    position: relative;
    float: left;
}