:root {
  /*dark theme*/
  --body_back: rgb(74, 68, 87);
  --body_color: rgb(197, 193, 193);
  --gold: gold;
  --initial: rgb(30, 34, 53);
  --white: white;
  --sec_bg: #262626;
  --goldenrod: goldenrod;
  --name_color: #DCDCDC;
  --footer_text: #708090;
  --border: #C5C1C1;
  --black: black;

  /*light theme*/
}

.initial {
  background-color: var(--gold) /*gold*/;
  width: 2em;
  border-radius: 50px;
  height: 2em;
  position: relative;
  display: flex;
  align-items: center;
}
.initial img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
}
.initial::after {
  content: /*'\00a0Nwigiri'*/ 'Nwigiri';
  position: absolute;
  left: 95%;
  background-color: gold;
  border-radius: 0 10px 10px 0;
  background-color: var(--initial)/*rgb(30, 34, 53)*/;
  width: /*3.5em*/ auto;
  font-weight: bold;
  padding: 1.2px 5px;

}
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.theme,
#burger-container {
  position: fixed;
  /* margin: 100px auto;*/
  width: 60px;
  float: right;
  right: 4em;
  top: 15px;
}

#burger-container {
  right: -1em;
}

#burger-container #burger {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 60%;
}

#burger-container span {
  background: #e1e7f4;
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  top: 0;
  transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
}

#burger-container.open span:first-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 12px;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
  width: 0px;
  opacity: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#burger-container.open span:nth-child(4) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 50;
  transition: opacity 0.5s ease-in-out;
  width: 15em;
  right: 100%;
  top: 40px;
  border-radius: 10px;
  background-color: var(--initial)/*rgb(30, 34, 53)*/;
  display: none;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-align: center;
  color: var(--white);
}

.dropdown.active .dropdown-content {
  display: block;
  opacity: 1;
  text-align: center;
}
a {
  color: var(--body_color)/*rgb(197, 193, 193)*/;
}

/*section 1*/
.section-1-overall {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: /*#262626*/ var(--sec_bg);
  padding: 10px;
}

.section-1 {
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 5px;

}
.links h4 {
  line-height: 30px;
}
h4 span {
  font-size: 1.3em;
}
.name-and-handle {
  text-align: left;
  font-size: larger;
}
.links {
  margin-bottom: 1.5em;
  position: relative;
}
button {
  width: 35%;
  height: 3em;
  font-weight: 900;
  background: none;
  border: 2px solid var(--goldenrod);
  border-radius: 10px;
}
button:active,
.first:active,
.second:active,
#submit:active {
  transform: translateY(-0.4em) translateX(-0.4em);
}
.btn-and-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 p {
  line-height: 25px;
}
/*section 2*/
.section-2-overall {
  background-color: /*rgb(74, 68, 87)*/ var(--body_back);
  padding: 20px;
  top: 0;
  text-align: center;
  font-weight: 400;
}
.about {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30px;
  text-decoration: underline var(--goldenrod);
  display: inline;
}
.note, .my-name {
  line-height: 25px;
  text-align: justify;
  font-weight: normal;
  margin-bottom: 35px;
  color: var(--name_color) /*#DCDCDC8*/;
  font-family: "Gill Sans", sans-serif;
}
.my-name {
  margin-bottom: 10px;
  letter-spacing: -2px;
  font-size: 100;
  font-weight: bold;
}
.my-name::before {
  content: 'Hobbies: ';
}

/*project cards*/
.projects {
  background-color: var(--initial) /*rgb(30, 34, 53)*/;
  width: 80%;
  height: /*350px*/ auto;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}
.projects img {
  width: 100%;
  max-height: 50%;
  text-align: center;
  margin: auto;
}
.description {
  text-align: left;
  margin: auto;
  margin-top: 15px;
  line-height: 20px
}
.description h5 b {
  background-color: var(--body_back) /*rgb(74, 68, 87)*/;
  border-radius: 5px;
  display: inline-block;
  margin: 4px 4px 4px 0px;
  padding: 2px;
}
.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.first::after {
  content: 'Github';
  font-size: 0.7em;
  position: absolute;
  top: 0.5em;
  left: 2em;
}
.second::after {
  content: 'Live Link';
  font-size: 0.7em;
  position: absolute;
  top: 0.5em;
  right: 2.3em;
}

/*third section*/
.section-3 {
  margin: 50px auto;
  position: relative;
}
.section-3 h1 {
  font-size: 25px;
  text-decoration: underline var(--goldenrod);
}
.section-3 .fa,
.section-3 .fab {
  font-size: 110px;
  margin-top: 60px;
}
.section-3 span {
  display: inline-block;
  width: 40%;
}
span p {
  display: none;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}
.tools-logo {
  transition: transform 0.5s ease;
  cursor: pointer;
}







.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}



























.zoomed {
  transform: scale(1.2);
}
footer {
  background-color: var(--initial) /*rgb(30, 34, 53)*/;
  color: var(--footer_text) /*#708090*/;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 70px;
  margin-bottom: 30px;
}
footer h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
footer button {
  background-color: var(--goldenrod);
  color: var(--black);
  margin: auto;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.social-acc {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
.social-acc a i {
  font-size: 20px;
}
.send-msg {
  margin-bottom: 5px;
  text-align: right;
  word-spacing: -5px;
  letter-spacing: -1px;
}
.send-msg::after {
  content: '📩';
  animation: blink 1s infinite alternate;
  font-size: 1.3em;
  margin: auto;
}
.input::placeholder {
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 5px;
}
.message {
  margin-top: 35px;
  margin-left: 45px;
}
#name, #email {
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  width: 70%;
}
form input {
  padding: 15px;
  font-size: 0.8em;
  font-weight: 500;
}
textarea {
  border-radius: 10px;
  width: 70%;
  margin: 25px;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 500;
  resize: none;
}
#submit {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  background-color: var(--goldenrod);
  border: none;
  float: left;
  margin-left: 15%;
}

/*span:last-of-type*/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
/*back to top button*/
#back-to-top {
  bottom: 35px;
  right: 30px;
  display: none;
  position: fixed;
  z-index: 100;
  color: goldenrod;
  animation: moveUpDown 1s ease-in infinite alternate;
  border: 2px solid var(--border)/*#C5C1C1*/;
  border-radius: 100px;
  padding: 2px;
}

/* Keyframes for the back-to-top and handwriting animation */
@keyframes moveUpDown {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}


.handwriting-container {
  font-family: 'Courier New', monospace;
  font-size: 24px;
  white-space: pre;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.handwriting::after {
  content: '✍️';
  display: inline-block;
  transform: rotate(30deg);
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup {
  position: fixed;
  top: -10%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1.5s ease-in;
  background-color: var(--body_back);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  text-align: center;
  transform-origin: 10px 10px;
  animation: drop 1.5s ease both,
  hinge 2s 2.5s ease both;
  /*swing 2s 2.5s ease both;*/
}

.popup.success {
  border-color: #4CAF50;
}

.popup.error {
  border-color: #F44336;
}

.popup.show {
  display: block;
  right: 25%;
  left: 25%;
  opacity: 1;

}
@keyframes drop {
  0% {
    top: -10%;
    transform: translateY(50%) rotateZ(0deg);
  }
  100% {
    transform: translateY(50%);
    top: 35%;
  }
}

/*@keyframes swing {
  0% {
    transform: translateY(50%) rotateZ(0deg);
  }
  40% {
    transform: translateY(50%) rotateZ(90deg);
    right: 25%;
    left: 25%;
  }
  70% {
    transform: translateY(50%) rotateZ(70deg);
    right: 25%;
    left: 25%;
  }
  100% {
    transform: translateY(50%) rotateZ(75deg);
    right: 25%;
    left: 25%;
  }
}*/